{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Skapa API-keys' %}

{% block page_content %}
    <div>
        <button id="create-api-key">Skapa ny nyckel</button>
    </div>
    <div>
        <textarea id="api-key-field" cols="30" rows="10"></textarea>
    </div>

{% endblock %}

