{% extends 'admin/admin_base.html.twig' %}

{% block page_title 'Skapa API-keys' %}

{% block admin_page_content %}
    <div>
        <button id="create-api-key">Skapa ny nyckel</button>
    </div>
    <div>
        <textarea id="api-key-field" cols="30" rows="2"></textarea>
    </div>

{% endblock %}

