{% extends 'admin/admin_base.html.twig' %}

{% block page_title 'Mejlutskick' %}

{% block admin_page_content %}
        <table>
        {% for message in messages %}
            <tr>
                <td>{{ message.Subject }}</td>
                <td>{{ message.To[0].Address }}</td>
            </tr>
        {% endfor %}
        </table>

    <h2 class="mt-5">Mejllistor</h2>
    <p>Dessa pedagoger har minst en klass i respektive årskurs som har minst ett besök kvar.</p>
    {% for segment, users in users_by_segment %}
        <h3>{{ segment_labels[segment] }}</h3>
        <textarea name="" cols="50" rows="10">
            {{- users|join(' ; ') -}}
        </textarea>
    {% endfor %}
{% endblock %}

