{% extends 'base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="w-25">
            <h1>Tack!</h1>
            <p>När en kollega (som redan har tillgång till besöksportalen) eller en admin på Naturskolan har bekräftat att du faktiskt jobbar på skolan du angav, så är det fritt fram att logga in igen.</p>
        </div>
    </div>
{% endblock %}

