{% macro segment_link(school_id, segment_key) %}
    {% set segment_label = attribute(get_setting('segments'), segment_key) %}
    {% set emoji = '&#x002A;&#xFE0F;&#x20E3;' %} {# means bounded asterisk #}
    {% if segment_key matches '/^\\d+$/' %} {# i.e is an integer #}
        {% set emoji = '&#x003' ~ segment_key ~ ';&#xFE0F;&#x20E3;' %}
    {% endif %}
    {% set segment_path = path('school_overview', {'school': school_id, _fragment: "groups-" ~ segment_key }) %}
    <li class="nav-item">
        <a class="nav-link" href="{{ segment_path }}">{{ emoji|raw }} {{ segment_label }}</a>
    </li>
{% endmacro %}

{% macro school_fragment_link(school_id, fragment) %}
    {{ path('school_overview', {'school': school_id, '_fragment': fragment }) }}
{% endmacro %}