{# available: user, schools #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="w-25 pt-4">
            <p>Du är redan registrerat, men behöver vänta tills någon från din skola har intygat att du verkligen tillhör skolan du har angett!</p>
            <p>Om du känner någon som redan har tillgång till besöksportalen, be hen att gå till besöksportalen och bekräfta att du verkligen tillhör skolan.</p>
            <p>Din skolas administratör är redan registrerat, så det kan vara värt ett försök.</p>
        </div>
    </div>
{% endblock %}
