{# available: user, schools #}

{% extends 'base.html.twig' %}

{% block content %}
    <p>Du är redan registrerad, men behöver vänta tills någon från din skola har intygat att du verkligen tillhör skolan du har angett!</p>
    <p>Om du känner någon som redan har tillgång till besöksportalen, be hen att gå till besöksportalen och bekräfta att du verkligen tillhör skolan.</p>
    <p>Din skolas administratör är redan registrerat.</p>
{% endblock %}
