<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/tests/api_tests.js"></script>
</head>
<body>
Hello world!
</body>
</html>
