<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="update-toast" class="toast" role="alert">
        <div class="toast-header">
            <strong class="me-auto">Uppdatering</strong>
{#            <small>11 mins ago</small>#}
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div id="toast-body" class="toast-body">
            Uppgifterna uppdaterades.
        </div>
    </div>
</div>