{% extends "mail/base_mail.html.twig" %}
{% import "mail/mail_macros.html.twig" as NDB %}

{% block body_text %}
    <p>
        Du får detta mejl för att vi på Naturskolan har antecknat dig som lärare eller ansvarig för {{ NDB.group_formulation(user.Groups) }}.
    </p>
    <h2>Nu har vi lagt till fler besöksdatum:</h2>
    {{ NDB.list_visits(user, visits) }}
    <p>
        Som förut så är övergripande temat för besöken {{ snippet(user.Segment, "theme") }}
        <br>
        Info för varje temadag hittar du när du följer respektive länk. Där ser du också om du och klassen blir hämtade av en buss (som vi beställer) och om du behöver ta med mat eller inte.
    </p>
    <p>Anteckna dessa datum i din almanacka och kolla i <a href="{{ url('school_overview', {school: user.School.id}) }}">vår besöksportal</a> om ditt mobilnummer och uppgifterna om din klass stämmer. Du får gärna även fylla i info åt dina kollegor.</p>
{% endblock %}